/* grund css */
body {
  background-color: #f7efe9;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 70px;
}
  
h1 {
  font-size: 90px;
  text-align: center;
  color:#000000;
  font-family: "Tangerine", cursive;
}

h2 {
  font-size: 40px;
  font-family: "Tangerine", cursive;
  color:#000000;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 15px;
  margin-right: 10%;
  margin-left: 10%;
}

/* startsida*/
.herostart {
  width: 100%;
  max-height: 550px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.681);
}

/* de två översta kolumnerna*/
.toppen {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
margin-top: 60px;
box-sizing: border-box;
gap:50px
}

.Kolumn { 
  width: 30%;
  text-align: center;
  background-color: #fff;
  height: 550px;
  border-radius: 20px;
  transition: all 0.5s ease;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.126);
  flex-direction: column;
  justify-content: center;
}

/* blombytet i kolumn 1*/

.bildBox {
  position: relative;
  width: 80%;
  height: 250px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  border: 8px double #81a969;
}

.bildBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.bildBox img.active {
  opacity: 1;
  z-index: 1;
}

.plantaInfo {
  text-align: left;
  margin-left: 50px;
}

.plantaInfo p {
  text-align: left;
  margin-left: 10px;
}

button {
  color: #dc6874;
  background-color: #fcc0c5;
  border: none;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  font-weight: 800;        
  letter-spacing: 1.8px;  
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.126);
  margin: 10px;
  cursor: pointer;
}



/* quiz i kolumn 2*/
.QuizBild { 
  position: relative;
  width: 80%;
  height: 250px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  border: 8px double #81a969;
}

.QuizBild img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  transition: opacity 0.6s ease;
}




/* mitten kolumnen*/
.mitten {
  background-color: #fcc0c5;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.126);
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  }

.mitten h1 {
  color: #dc6874;
  font-size: 120px;
  margin-bottom: 15px;
}

.mitten p {
  color: #fff;
  font-size: 18px;         
  line-height: 1.8;        
  text-align: center;       
  max-width: 1000px;         
  margin: 0 auto;           
  font-weight: 300;        
  letter-spacing: 0.8px; 
}

/* de nedersta kolumnerna*/
.sista { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  box-sizing: border-box;
}

.snabblänk {
  width: 20%;
  text-align: center;
  background-color: #fff;
  height: 400px;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.126);
}

.snabblänk h2 { 
color: #81a969;
}

.snabblänk p { 
color: #81a969;
font-size: 18px;         
line-height: 1.8;        
text-align: center;       
max-width: 1000px;         
margin: 0 auto;           
font-weight: 300;        
letter-spacing: 0.8px; 
}



/* tips*/

.huvud-tips { 
  align-items: center;
  width: 80%;
  margin-left: 10% ;
  height: 400px;
}

.huvud-tips h1 {
  font-size: 120px;
  margin-bottom: 15px;
  color: #81a969;
}

.huvud-tips p {
  color: #8a6851;
  font-size: 18px;         
  line-height: 1.8;        
  text-align: center;       
  max-width: 1000px;         
  margin: 0 auto;           
  font-weight: 300;        
  letter-spacing: 0.8px; 
}

.tips { 
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 40px; 
  background-color: #ebded4;
  padding: 40px;
  margin-left:15%;
  box-sizing: border-box;
  justify-items: center; 
  border-radius: 5px;
}

.tipsRuta {
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  height: 300px;
  width: 100%;
  max-width: 300px; 
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.126);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tipsBild { 
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.tipsBild img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}


.tipsRuta h2 {
  font-size: 30px;
  color: #81a969;
  font-family: "Tangerine", cursive;
}

.tipsRuta p {
  font-size: 13px;
  color: #8a6851;
}

.tipsKnapp {
  background-color: #fcc0c5;
  color: #dc6874;
  padding: 6px 14px;       
  border-radius: 6px;      
  font-size: 14px;         
  font-weight: 600;  
  width: 100px;     
  cursor: pointer;
  transition: all 0.3s ease;
}

.tipsKnapp:hover {
  background-color: #dc6874;
  color: #fff;
  transform: scale(1.05);  
}

/* Frågor och svar */
.mittenTips {
  width: 80%;
  padding: 40px;
  margin-left:10%;
  margin-top: 10%;
  box-sizing: border-box;
  justify-items: center; 
  border-radius: 5px;
  background-image: url('tips.hero2.jpg');
}

.mittenTips h1 {
  padding: 10px;
  color: #fff;
  text-shadow:0px 0 10px rgba(0, 0, 0, 0.509) ;
  border-radius: 10px;
}

.h3Tips {
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  color: #8a6851;
}


.FAQ {
  width: 70%;
  margin: 50px auto;
  display: grid;
  height: 130px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
  border-radius: 10px;
}

.FAQ-innehåll { 
  background-color: #ffffff9e;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.FAQ-innehåll:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.2);
}

.FAQ-innehåll h3 { 
  font-size: 20px;
  margin: 0;
}

.FAQ-popup {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.FAQ-popup-innehåll { 
  background-color: #fff;
  margin: 10% auto;
  padding: 100px;
  border-radius: 15px;
  width: 60%;
  max-width: 700px;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: popupFadeIn 0.4s ease;
}

.FAQ-popup-innehåll p {
  font-size: 16px;
  line-height: 1.6;
}

.close {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 60px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.close:hover {
  color: #dc6874;
}

@keyframes popupFadeIn {
  from {opacity: 0; transform: translateY(-30px);}
  to {opacity: 1; transform: translateY(0);}
}

/* perenner */
.tillbakaKnapp2 {
  margin: 3%;
}

.tillbakaKnapp2:hover {
  transform: scale(1.1);
  background-color: #dc6874;
  color: #fff;
}

.PH1 {
  margin-top: 5%;
  color: #dc6874;
  font-size: 120px;
}

h4 {
  text-align: center;
  font-size: 20px;
  color: #8a6851;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.filter-buttons {
  text-align: center;
  margin: 2rem 0;
  cursor: pointer;
}

.filter-buttons button:hover{
  transform: scale(1.1);
  background-color: #dc6874;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.plant {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: white;
  transition: transform 0.3s;
}

.plant:hover {
  transform: scale(1.1);
}

.plant img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 1rem;
}

.info h3 {
  margin-top: 0;
  color: #81a969;
}

/* Header */
.header { 
    display: flex;    
    position: fixed;  
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.308);
    z-index: 1000;
    flex-wrap: wrap;
    box-sizing: border-box;
    top: 0;
}
  
.logo img {
    max-height: 60px;
    height: auto;
    width: auto;
    transition: transform 0.5s ease;
    margin-left: 20px;
}
  
.logo img:hover {
    transform: scale(1.20);
}

.meny ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
  
.meny li {
    position: relative;
}
  
.meny a {
    text-decoration: none;
    color: #8a6851;
    padding: 15px 25px;
    display: block;
    text-align: center;
    position: relative;
    transition: all 0.5s ease;
    font-weight: 900;

}
  
.meny a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 2px;
    background-color: #81a969;
    transition: width 0.9s ease;
}
  
.meny a:hover::after {
    width: 100%;
}
  
.meny a:hover {
    color: #81a969;
    font-weight: bolder;
    font-size: larger;
}

.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  color: #8a6851;
  position: absolute;
  left: 20px;
  display: none;
  box-shadow: none;
  background-color: none;
}



/* responsivitet */ 

@media (max-width:1500px) {
.tips { 
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 30px; 
}
}

@media (max-width:970px) {

.hamburger {
   display: block;
}

.header {
  justify-content: center; 
  position: fixed;
  width: 100%;
  height: auto;
}

.logo img {
  position: relative;
  margin: auto;
  max-height: 60px;
}

.meny {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  padding-top: 80px;
}

.meny.open {
  left: 0;
}

.meny ul {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.meny a {
  display: block;
  padding: 15px;
  text-align: left;
}

h1 {
  font-size: 60px;
}

.toppen {
  flex-direction: column;
  height: auto;
}

.Kolumn { 
  width: 70%;
  margin:20px;
}

.snabblänk h2{
padding: 5px;
font-size: 30px;
}

.snabblänk p{
  padding: 5px;
  font-size: 13px;
  }

.mitten h1 {
font-size: 100px;
}
.huvud-tips h1 {
  font-size: 100px;
}
.huvud-tips p {
  margin: 5%;
}

.toppen {
  gap: 20px;
}

.sista {
  gap: 20px;
}

.snabblänk {
  width: 25%;
}

.tips { 
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 30px; 
}

.tipsRuta {
  height: 250px;
}

.tipsRuta h2 {
  font-size: 25px;
  color: #81a969;
  font-family: "Tangerine", cursive;
}

.tipsRuta p {
  font-size: 11px;
  color: #8a6851;
}



}
