    body {
      font-family:'Times New Roman', Times, serif;
      text-align: center;
      background-color: #f7efe9;
      padding-top: 100px;
    }

    h1 {
        background-color: #ebded4;
        font-style: italic;
        font-size: 5rem;
        color: #8a6851;
        margin-top: 60px;
        margin-bottom: 100px;
        }
        
        h2 {
            background-color: #ebded4;
            font-size: 2.5rem;
            color:#8a6851;
            margin-bottom: 100px;
        }
        
    p {
      color: #000;
      background-color: #ebded4;
      font-size: 1.5rem;
      margin-top: 100px;
      margin-bottom: 40px;
    }
    button {
      background-color: #2e7d32;
      color: white;
      border: none;
      padding: 12px 24px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s, transform 0.2s;
    }
    button:hover {
      background-color: #1b5e20;
      transform: scale(1.05);
    }